---
const links = [
  {
    "github": "https://github.com/302FoundDev",
    "twitter": "https://x.com/302founddev",
    "midu": "Gracias a @midudev por toda la ense;anza",
    "midusocial": "https://x.com/midudev"
  }
]
---

<section>
  <div class="flex justify-between px-4 max-w-screen-xl mx-auto py-8">
    {
      links.map(({ github, twitter, midu, midusocial }) => {

        return (
          <div>
            <span>Created by <a href={twitter} class="hover:underline hover:text-red-300 transition">@302FoundDev</a></span>
          </div>

          <div>
            <span>
             <a href={midusocial} class="hover:underline hover:text-red-300 transition">{midu}</a>
            </span>
          </div>

          <div>
            <span>
              <a href={github} class="hover:underline hover:text-red-300 transition">Github</a>
            </span>
          </div>
        )
      })
    }
  </div>
</section>

