---
const links = [
  {
    "github": "https://github.com/302FoundDev",
    "twitter": "https://x.com/302founddev"
  },
  {
    "midu": "Gracias @midudev"
  },
]
---

<section>
  <div>
    hola, este es el footer
  </div>
</section>
