---
const links = [
  {
    "github": "https://github.com/302FoundDev",
    "twitter": "https://x.com/302founddev"
  },
  {
    "midu": "Gracias @midudev"
  },
]
---

<section>
  <div class="flex justify-between px-4 max-w-screen-xl mx-auto">
    <div>
      asdf
    </div>
    <div>
      dafs
    </div>
  </div>
</section>
