---
import books from '../mocks/mocks.json'
---

<section aria-label="Recommended books for hackers">
  <div class="mx-auto max-w-screen-xl px-4">
    {
      books.map(({ title, description, author, img }) => {
        <div>
          <img src={img} alt="Hacker books" class="w-auto h-44" />
          <h3 class="block">{title}</h3>
          <p class="block italic">{description}</p>
          <p class="block">{author}</p>
        </div>
      })
    }
  </div>
</section>
