---
export interface Props {
  onInput: (e: Event) => void;
}
---

<search class='mb-24 mt-14'>
  <form class='flex gap-2'>
    <label for='search' class='opacity-75'>
      <input
        id='search'
        name='search'
        type='text'
        placeholder='Type your search...'
        class='border border-gray-700 block rounded py-1 px-4 w-96'
        oninput='onInput'
      />
    </label>
    <button
      class='border rounded-md py-1 px-4 border-gray-700 text-sm transition hover:bg-white hover:text-black'
      type='submit'>Search</button
    >
  </form>
</search>
