---
import Layout from "../../layouts/Layout.astro";
import books from '../../content/mocks.json';

export function getStaticPaths() {
  return books.map((book) => ({
    params: { id: book.slug },
    props: { book }
  }))
}

const { book } = Astro.props
const { title, description, img, url } = book

---

<Layout title={`${title} - Hacker Books`}>
  <div>
    <div>
      <h1>{title}</h1>
    </div>
  </div>
</Layout>
